@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
Reset de CSS
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
Nav bar
*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 10px 0 10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid rgb(214, 213, 213);
    width: auto;
    height: auto;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
    padding-top: 5px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:#0d82f6;
}
#barra-cv{
    color:#0d82f6;
    font-weight: bold;
    font-size: 20px;
}
.li-nav{
    color: black;
}
.button-contact{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border-color: rgb(232, 228, 228) ;
    border-style: solid;
    cursor: pointer;     
}
.button-contact:hover{
    background-color: rgb(240, 237, 237);
}

/*
 Main Section
 ---
*/
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
}
#nombre-h1{
    color: #0d82f6;;
}
#perfil{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252, 249, 249);
    padding: 2rem 2rem 2rem 100px;
}
.botones-perfil{
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    margin: 10px 25px 0px 0px;
    display: inline;
}
#texto-perfil{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: gray;
    font-weight: 400;
    margin-right: 3rem;
}
.img-perfil-redes{
    height: 30px;
    width: auto;
}

#idImg-perfil{
    height: auto;
    width: 20rem;
    border-radius: 100%;

}


