@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
Reset de CSS y demás
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/*
Subtitulo de las secciones
*/
.subtitulo-secciones{
    text-align: center;
    margin: 3rem 0 3rem 0 ;
}
.subtitulo-secciones h2{
    font-size: 40px;
}
.subtitulo-secciones p{
     color: gray;
     font-size: 20px;
     text-wrap: wrap;
}

/*
Nav bar
*/
nav{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
    padding: 20px;

    font-size: 15px;
    border-bottom: 1px solid rgb(214, 213, 213);
    height: auto;
    background-color: white;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
    padding-top: 5px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:#0d82f6;
}
#barra-cv{
    color:#0d82f6;
    font-weight: bold;
    font-size: 20px;
}
.li-nav{
    color: black;
}
.button-contact{
    font-size: 15px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border-color: rgb(232, 228, 228) ;
    border-style: solid;
    cursor: pointer;     
}
.button-contact:hover{
    background-color: rgb(240, 237, 237);
}

/*
 Main Section
 ---
*/
h1{
    font-size: 60px;
}
#nombre-h1{
    color: #0d82f6;;
}
#perfil{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252, 249, 249);
    margin-top: 50px;
    padding: 2rem 2rem 2rem 100px;
}
.botones-perfil{
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    margin: 10px 25px 0px 0px;
    display: inline;
}
#texto-perfil{
    font-size: 20px;
    color: gray;
    font-weight: 400;
    margin-right: 3rem;
}
#contenedor-img-perfil{
    margin-top: 30px;
}
.img-perfil-redes{
    height: 30px;
    width: auto;
}

#idImg-perfil{
    height: auto;
    width: 20rem;
    border-radius: 100%;
}

/*
 Sección Experiencia
 ---
*/

/*
 Sección Proyectos Destacados
 ---
*/

.contenedor-proyectos{
    display: flex;
    flex-direction: column;
    margin: 30px 5px 10px 5px;
    margin-left: 12px;
    width: min-content;
    height: auto;
    border: 2px solid rgb(226, 222, 222);
    border-radius: 4%;
    padding: 10px;
}
.contenedor-proyectos p {
    color: gray;
}
.contenedor-proyectos li {
    border: 2px solid rgb(226, 222, 222);
    background-color: rgb(212, 207, 207);
    border-radius: 20px;
    padding: 5px;
    margin: 20px 0 20px 0;
}
.contenedor-proyectos h3,
.contenedor-proyectos p,
.contenedor-proyectos ul {
    padding: 20px;
}

.imgs-proyectos{
    width: 45vw;
    height: 45vh;
    border-radius: 10px;
}

.img-logo-proyecto{
    width: 30px;
    height: auto;
}
.botones-codigo{
    width: 8vw;
    height: auto;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 10%;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(201, 198, 198);
}
.contenedor-botones-proyectos{
    display: flex;
    margin-left: 20px;
    justify-content: space-between;
}
#proyectos{ 
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(252, 249, 249);
}
#proyectos > .subtitulo-secciones{
    width: 100%;
}
/*
 Sección Educación
 ---
*/
.contenedor-institucion{
    display: flex;
    border: 2px solid black;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 35px;
    
}
.img-instituciones, .mapa-instituciones{
    width: 20vw;
    height: 40vh;
    margin-right: 50px;
}
.tiempo-institucion{
    padding: 10px;
    background-color: #ccffee;
    color: #0d82f6;
    font-weight: bold;
    border-radius: 0 20% 0 20%;
}
.informacion-institucion p{
    color: gray;

}
.informacion-institucion li{
    color: gray;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10%;
}

/*
 Sección Educación
 ---
*/

/*
 Sección habilidades
 ---
*/
#habilidades{
    background-color: rgb(252, 249, 249);
}
/*
 Sección sobre mi
 ---
*/

/*
 Sección referencias personales
 ---
*/
#referencias{
    background-color: rgb(252, 249, 249);
}
/*
 Sección contacto
 ---
*/